<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body
    style="
      background-color: black;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      cursor: url(./cursor.png);
  ">
    <div id="play-button" style="
      position:fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
    ">
      <img src="./play.svg"/>
    </div>
    <canvas id="screen"
      width="1024"
      height="768"
      style="
        aspect-ratio: 4 / 3;
        object-fit: contain;
        object-position: center;
        width: 100vw;
        height: 100vh;
      "></canvas>
    <script src="./index.js"></script>
    <style>
      @keyframes fade {
        from {opacity: 1;}
        to {opacity: 0;}
      }
      .fadeOut{
        animation-duration: 1.5s;
        animation-name: fade;
      }
      #play-button img{
        height: 50vh;
        width: 50vw;
      }
      #play-button img:hover{
        filter: invert(1);
      }
    </style>
  </body>
</html>